.cache
vendor
composer.lock

openapi/node_modules
openapi/yarn.lock
openapi/openapitools.json
openapi/V2/.openapi-generator
openapi/V2/docs
openapi/V2/test
openapi/V2/.gitignore
openapi/V2/.openapi-generator-ignore
openapi/V2/.php-cs-fixer.dist.php
openapi/V2/.travis.yml
openapi/V2/*.json
openapi/V2/*.sh
openapi/V2/*.dist
openapi/V2/*.md
/src/.DS_Store
